

.root {
    -fx-background-color: linear-gradient(to bottom right, #092857, #0b2d60);
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #bf7d16;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 8 18 8 18;
}

.button:hover {
    -fx-background-color: #ff9a3c;
}

.topbar {
    -fx-background-color: rgba(0,0,0,0.15);
}

.title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.event-card {
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-background-radius: 12;
    -fx-padding: 12;
    -fx-alignment: center-left;
}

.card-title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.card-sub {
    -fx-text-fill: rgba(255,255,255,0.8);
    -fx-font-size: 13px;
}

.primary {
    -fx-background-color: #ff7a18;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 8 16 8 16;
}
